body {
  font-family: 'Orbitron', sans-serif;
  color: white;
  background-color: beige;
}

.ui.centered.grid.container {
  padding-top: 40px;
  font-size: 52pt;
}
.ui.centered.grid.container .timer {
  padding-top: 10px;
}

.ui.grid.boost-bar {
  margin: 100px 50px 0 50px;
}



